{% extends "_layout.twig" %}
{% set title = "Project" %}

{% block content %}
<body>
	<main>
		<section class="twoColumns">
			<div class="socialMedia" id="socialMedia">
				<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.aestheticdimension.com%2F&amp;src=sdkpreparse" target="_blank" class="fb-xfbml-parse-ignore">
					<svg data-layout="button" data-size="small" data-mobile-iframe="true" data-href="http://www.aestheticdimension.com" xmlns="http://www.w3.org/2000/svg" width="29" height="50" viewBox="0 0 29 50" id="fb">
					  <path fill="#D00A1D" d="M3.43166667,30.0137741 L6.69416667,30.0137741 L6.69416667,46.3085399 C6.70744737,48.1895159 8.23997386,49.7073469 10.1258333,49.7073003 L16.6025,49.7073003 C17.5126413,49.7137158 18.3880584,49.359232 19.0361578,48.7218359 C19.6842572,48.0844399 20.0519465,47.2163472 20.0583333,46.3085399 L20.0583333,30.0137741 L23.3208333,30.0137741 C24.7606985,29.8606682 26.002243,28.9365188 26.5591667,27.6033058 L28.7825,23.2403581 C28.7907415,23.1602194 28.7907415,23.07945 28.7825,22.9993113 C29.0417178,22.0307073 28.8557556,20.9972896 28.275,20.1790634 C27.6212994,19.35331 26.6231734,18.8733049 25.5683333,18.8774105 L20.0583333,18.8774105 L20.0583333,12.5137741 L25.5441667,12.5137741 C27.4301108,12.5272076 28.9734848,11.0200875 29,9.13911846 L29,3.69146006 C28.9867193,1.81048414 27.4541928,0.292653081 25.5683333,0.292699725 L18.85,0.292699725 C10.6816667,0.292699725 6.76666667,5.33057851 6.76666667,15.6955923 L6.76666667,18.8533058 L3.43166667,18.8533058 C1.5458072,18.8532591 0.0132806999,20.3710902 0,22.2520661 L0,26.6150138 C0.0132806999,28.4959897 1.5458072,30.0138207 3.43166667,30.0137741 L3.43166667,30.0137741 Z M2.41666667,22.2520661 C2.42979201,21.7023705 2.88040129,21.2636182 3.43166667,21.2637741 L7.9025,21.2637741 C8.56984407,21.2637741 9.11083333,20.7241724 9.11083333,20.0585399 L9.11083333,15.6955923 C9.11083333,6.58402204 12.0108333,2.70316804 18.7775,2.70316804 L25.4716667,2.70316804 C26.022932,2.70301217 26.4735413,3.14176443 26.4866667,3.69146006 L26.4866667,9.13911846 C26.4735413,9.68881408 26.022932,10.1275663 25.4716667,10.1274105 L18.85,10.1274105 C18.1826559,10.1274105 17.6416667,10.6670122 17.6416667,11.3326446 L17.6416667,20.1790634 C17.6416667,20.8446958 18.1826559,21.3842975 18.85,21.3842975 L25.5441667,21.3842975 C25.8628595,21.3803722 26.1657329,21.5225353 26.3658333,21.7699725 C26.5278431,21.9739406 26.5978427,22.2357658 26.5591667,22.4931129 L24.4083333,26.6873278 C24.0216667,27.3863636 23.5141667,27.7238292 23.2966667,27.7238292 L18.85,27.7238292 C18.1826559,27.7238292 17.6416667,28.2634309 17.6416667,28.9290634 L17.6416667,46.4290634 C17.635333,46.6975928 17.5222724,46.9526051 17.3273739,47.1379619 C17.1324754,47.3233187 16.8717163,47.423825 16.6025,47.4173554 L10.15,47.4173554 C9.59873462,47.4175112 9.14812534,46.978759 9.135,46.4290634 L9.135,28.8085399 C9.135,28.1429075 8.59401074,27.6033058 7.92666667,27.6033058 L3.43166667,27.6033058 C2.88040129,27.6034617 2.42979201,27.1647094 2.41666667,26.6150138 L2.41666667,22.2520661 Z"/>
					</svg>
				</a>
				<a href="https://twitter.com/intent/tweet?text=Check%20this%20out:%20http://bit.ly/2fJJENt" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" width="43" height="35" viewBox="0 0 43 35" id="twitter">
					  <path fill="#D00A1D" d="M15.9073835,35 C8.02594455,35 1.58809881,31.215372 1.48291407,31.1519915 C0.866639353,30.7804735 0.59626062,30.0279981 0.832926294,29.3483428 C1.07161475,28.6707103 1.74587593,28.2418802 2.46868391,28.3490877 C6.73743144,28.9201869 9.71024898,27.5750359 11.3028539,26.511726 C7.35572894,23.5207034 -1.47978955,15.080302 3.94059607,2.56601451 C4.16377652,2.0502047 4.65598718,1.69891463 5.2149497,1.65508765 C5.76244977,1.61732903 6.31534394,1.88231367 6.61539017,2.35631928 C6.77721285,2.60916722 10.5780231,8.32757628 20.0776889,9.52506413 C20.0992652,4.34538976 24.3187917,0.138 29.5004888,0.138 C31.8118562,0.138 33.990394,0.96734125 35.7151541,2.49049725 C38.2078977,2.22551261 40.1713463,2.16820041 40.2623715,2.1648291 C40.4680212,2.16685189 40.6635569,2.1944966 40.8408876,2.26192271 C41.1746469,2.13920718 41.5502104,2.12976752 41.9116144,2.2639455 C42.6937573,2.55994616 43.0888744,3.43513717 42.7928737,4.21728013 C42.5022672,4.98796066 41.1058723,8.50558123 39.2058043,10.3051843 C39.6798099,14.6804651 38.5935751,21.1122425 31.5785618,28.3362768 C26.6200451,33.4411082 20.9663651,35 15.9073835,35 Z M5.27254761,30.9174604 C12.8121243,34.29659 22.5491058,34.0080417 29.7311673,26.61522 C36.6615852,19.4775662 37.3573055,13.3958285 36.7215003,9.55280179 C36.6164726,8.91276726 36.9118189,8.27273274 37.4672674,7.93579826 C38.1820196,7.506524 39.0596,6.12706633 39.7799913,4.70179121 C38.8178248,4.75959169 37.4461209,4.86320961 35.9595209,5.03872569 C35.4724461,5.08806755 34.9783226,4.92312474 34.6336344,4.56574863 C33.35568,3.24409143 31.6498611,2.5173562 29.8340803,2.5173562 C26.1517671,2.5173562 23.1553059,5.51593204 23.1553059,9.19965498 C23.1553059,9.68109065 23.2025332,10.1413798 23.2998071,10.5664247 C23.4069495,11.0534995 23.2814801,11.5617207 22.9593482,11.9416531 C22.6351017,12.3215855 22.1437976,12.5281165 21.656018,12.4971016 C12.899951,11.9684387 7.67746661,8.16065621 5.13354084,5.62659881 C1.64366096,17.9613611 13.676733,25.1067686 14.2237228,25.4246712 C14.6346701,25.662217 14.9194432,26.075279 14.9962755,26.5440267 C15.0702883,27.0148891 14.9321311,27.4942101 14.6163431,27.8508813 C14.4866445,28.0003167 9.41514992,29.773434 5.27254761,30.9174604 Z"/>
					</svg>
				</a>
				<a href="https://www.linkedin.com/cws/share?url=http%3A%2F%2Faestheticdimension.com/projects" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" width="45" height="42" viewBox="0 0 45 42" id="in">
					  <path fill="none" stroke="#D00A1D" stroke-width="2" d="M42.8343799,24.5423288 L42.8343799,39.9240333 L33.818397,39.9240333 L33.818397,25.5653564 C33.818397,21.9553006 32.5184148,19.501775 29.256104,19.501775 C26.7612251,19.501775 25.2895007,21.1629003 24.6325186,22.7615386 C24.3959663,23.3372363 24.3241212,24.1434743 24.3241212,24.9393558 L24.3241212,39.9222057 L15.31702,39.9222057 C15.31702,39.9222057 15.4379343,15.6125297 15.31702,13.0948637 L24.3259679,13.0948637 L24.3259679,16.8973409 C24.3137446,16.9285844 24.2874512,16.9545191 24.27514,16.9892437 L24.3259679,16.9892437 L24.3259679,16.8973409 C25.5295705,15.069816 27.6617945,12.4653819 32.4500872,12.4653819 C38.3930012,12.465469 42.8343799,16.2991897 42.8343799,24.5423288 Z M5.88579559,0.159809448 C2.80402083,0.159809448 0.785676014,2.16078347 0.785676014,4.79985515 C0.785676014,7.36782402 2.74448705,9.43641969 5.77015759,9.43641969 L5.82450305,9.43641969 C8.97460536,9.43641969 10.9263814,7.36782402 10.9263814,4.79985515 C10.8650888,2.16078347 8.9746933,0.159809448 5.88579559,0.159809448 Z M1.32359059,39.9239463 L10.3342972,39.9239463 L10.3342972,13.0932101 L1.32359059,13.0932101 L1.32359059,39.9239463 Z" transform="translate(1 1)"/>
					</svg>
				</a>
			</div>
			<div class="leftColumn leftColumnProjects" id="leftColumn">
				<div class="responsiveTitle" id="responsiveTitle">
					<p id="pageTitle">projects</p>
					<div class="burger vHidden" id="burger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<ul id="burgerMenu">
					<li><a href="../about">about</a></li>
					<li><a href="../projects" class="onPage">projects</a></li>
					<li><a href="../blog">blog</a></li>
					<li><a href="../contact">contact</a></li>
					<li><a id="homeSVG" href="../index">
						<svg id="home" xmlns="http://www.w3.org/2000/svg" width="45" height="48" viewBox="0 0 45 48">
						<g fill="none" fill-rule="evenodd" transform="translate(1 1)">
						<path stroke="#000" d="M38.6022727,46 L26.875,46 C26.5818182,46 26.3863636,45.8064516 26.3863636,45.516129 L26.3863636,32.4516129 L16.6136364,32.4516129 L16.6136364,45.516129 C16.6136364,45.8064516 16.4181818,46 16.125,46 L4.39772727,46 C4.10454545,46 3.90909091,45.8064516 3.90909091,45.516129 L3.90909091,22.1451613 C3.90909091,22 3.95795455,21.9032258 4.05568182,21.8064516 L21.1579545,4.96774194 C21.3534091,4.77419355 21.6465909,4.77419355 21.8420455,4.96774194 L38.9443182,21.8064516 C39.0420455,21.9032258 39.0909091,22 39.0909091,22.1451613 L39.0909091,45.516129 C39.0909091,45.8064516 38.8954545,46 38.6022727,46 Z M27.3636364,45.0322581 L38.1136364,45.0322581 L38.1136364,22.3387097 L21.5,5.93548387 L4.88636364,22.3387097 L4.88636364,45.0322581 L15.6363636,45.0322581 L15.6363636,31.9677419 C15.6363636,31.6774194 15.8318182,31.483871 16.125,31.483871 L26.875,31.483871 C27.1681818,31.483871 27.3636364,31.6774194 27.3636364,31.9677419 L27.3636364,45.0322581 Z"/>
						<path stroke="#19181B" d="M42.3647727,21.9677419 C42.2181818,21.9677419 42.1204545,21.9193548 42.0227273,21.8225806 L21.4511364,1.4516129 L12.5579545,10.2096774 C12.4113636,10.3548387 12.2159091,10.4032258 12.0204545,10.3064516 C11.825,10.2096774 11.7272727,10.0645161 11.7272727,9.87096774 L11.7272727,4.83870968 L10.2613636,4.83870968 L10.2613636,12.483871 C10.2613636,12.6290323 10.2125,12.7258065 10.1147727,12.8225806 L0.928409091,21.8225806 C0.732954545,22.016129 0.439772727,22.016129 0.244318182,21.8225806 C0.0488636364,21.6290323 0.0488636364,21.3387097 0.244318182,21.1451613 L9.28409091,12.2419355 L9.28409091,4.35483871 C9.28409091,4.06451613 9.47954545,3.87096774 9.77272727,3.87096774 L12.2159091,3.87096774 C12.5090909,3.87096774 12.7045455,4.06451613 12.7045455,4.35483871 L12.7045455,8.70967742 L21.1090909,0.435483871 C21.3045455,0.241935484 21.5977273,0.241935484 21.7931818,0.435483871 L42.7068182,21.1451613 C42.9022727,21.3387097 42.9022727,21.6290323 42.7068182,21.8225806 C42.6090909,21.9193548 42.5113636,21.9677419 42.3647727,21.9677419 Z"/>
						</g>
						</svg>
						<svg id="homeHover" class="vHiddenHome" xmlns="http://www.w3.org/2000/svg" width="45" height="48" viewBox="0 0 45 48">
						<g fill="none" fill-rule="evenodd" transform="translate(1 1)">
						<path fill="#000" fill-rule="nonzero" stroke="#000" d="M38.6022727,46 L26.875,46 C26.5818182,46 26.3863636,45.8064516 26.3863636,45.516129 L26.3863636,32.4516129 L16.6136364,32.4516129 L16.6136364,45.516129 C16.6136364,45.8064516 16.4181818,46 16.125,46 L4.39772727,46 C4.10454545,46 3.90909091,45.8064516 3.90909091,45.516129 L3.90909091,22.1451613 C3.90909091,22 3.95795455,21.9032258 4.05568182,21.8064516 L21.1579545,4.96774194 C21.3534091,4.77419355 21.6465909,4.77419355 21.8420455,4.96774194 L38.9443182,21.8064516 C39.0420455,21.9032258 39.0909091,22 39.0909091,22.1451613 L39.0909091,45.516129 C39.0909091,45.8064516 38.8954545,46 38.6022727,46 Z"/>
						<path stroke="#19181B" d="M42.3647727,21.9677419 C42.2181818,21.9677419 42.1204545,21.9193548 42.0227273,21.8225806 L21.4511364,1.4516129 L12.5579545,10.2096774 C12.4113636,10.3548387 12.2159091,10.4032258 12.0204545,10.3064516 C11.825,10.2096774 11.7272727,10.0645161 11.7272727,9.87096774 L11.7272727,4.83870968 L10.2613636,4.83870968 L10.2613636,12.483871 C10.2613636,12.6290323 10.2125,12.7258065 10.1147727,12.8225806 L0.928409091,21.8225806 C0.732954545,22.016129 0.439772727,22.016129 0.244318182,21.8225806 C0.0488636364,21.6290323 0.0488636364,21.3387097 0.244318182,21.1451613 L9.28409091,12.2419355 L9.28409091,4.35483871 C9.28409091,4.06451613 9.47954545,3.87096774 9.77272727,3.87096774 L12.2159091,3.87096774 C12.5090909,3.87096774 12.7045455,4.06451613 12.7045455,4.35483871 L12.7045455,8.70967742 L21.1090909,0.435483871 C21.3045455,0.241935484 21.5977273,0.241935484 21.7931818,0.435483871 L42.7068182,21.1451613 C42.9022727,21.3387097 42.9022727,21.6290323 42.7068182,21.8225806 C42.6090909,21.9193548 42.5113636,21.9677419 42.3647727,21.9677419 Z"/>
						</g>
						</svg>
					</a></li>
				</ul>
			</div>
			<div class="rightColumn" id="rightColumn">
				<div class="innerRightColumnProject innerRightColumn">
					<div class="pPageTitleBox">
						<p class="pPageTitle">{{ entry.title }}</p>
						<p class="pPageDesc">{{ entry.portfolioPieceHeader }}</p>
						<div class="redCorner"></div>
						<div class="redCorner"></div>
						<div class="redCorner"></div>
						<div class="redCorner"></div>
					</div>
					<p class="mainP">{{ entry.projectFirstParagraph }}</p>
					{% for block in entry.contentMatrix %}
					   {% if block.type == 'text' %}
					      <div class="pDesc">
					      	<p>{{ block.text|markdown }}</p>
					      </div>
					   {% elseif block.type == 'portraitImage' %}

					   	{% set image = block.image %}
					   	{% if image|length %}
					   	<div class="portraitPost">
					      	<img src="{{ image.first().getUrl() }}" alt="{{ image.title }}">
					      	{% if block.quote %}
					     		<blockquote>{{block.quote}}</blockquote>
					      	{% endif %}
					     	</div>
					      {% endif %}
					   {% elseif block.type == 'landscapeImage' %}

					   	{% set image = block.image %}
					   	{% if image|length %}
					   	<div class="singlePhotoContainer">
					   		<div class="singlePhotoImgContainer">
					      		<img src="{{ image.first().getUrl() }}" alt="{{ image.title }}" class="singlePhoto">
					   		</div>
			     				{% set quote = block.quote %}
			     				{% if quote|length %}
			     		  		<blockquote>{{block.quote}}</blockquote>
			     		  		{% endif %}
					     	</div>
					      {% endif %}
					   {% elseif block.type == 'doublePortrait' %}

					   	{% set image = block.firstImage %}
					   	{% if image|length %}
					   	<div class="twoPhotosContainer">
					   		<div class="twoPhotos">
					   			<div class="twoPhotoImgCont">
				   		   		<img src="{{ image.first().getUrl() }}" alt="{{ image.title }}">
				   		   	</div>
				   		   	{% set image = block.secondImage %}
				   		   	<div class="twoPhotoImgCont">
				   		   		<img src="{{ image.first().getUrl() }}" alt="{{ image.title }}">
				   		   	</div>
					   		</div>
					   		{% set quote = block.quote %}
					   		{% if quote|length %}
					     		<blockquote>{{block.quote}}</blockquote>
					     		{% endif %}
					   	</div>
					      {% endif %}
					   {% endif %}
					{% endfor %}
					<div class="hidden" id="socialMediaTwo">
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.aestheticdimension.com%2F&amp;src=sdkpreparse" target="_blank" class="fb-xfbml-parse-ignore">
							<svg data-layout="button" data-size="small" data-mobile-iframe="true" data-href="http://www.aestheticdimension.com" xmlns="http://www.w3.org/2000/svg" width="29" height="50" viewBox="0 0 29 50" id="fb">
							  <path fill="#D00A1D" d="M3.43166667,30.0137741 L6.69416667,30.0137741 L6.69416667,46.3085399 C6.70744737,48.1895159 8.23997386,49.7073469 10.1258333,49.7073003 L16.6025,49.7073003 C17.5126413,49.7137158 18.3880584,49.359232 19.0361578,48.7218359 C19.6842572,48.0844399 20.0519465,47.2163472 20.0583333,46.3085399 L20.0583333,30.0137741 L23.3208333,30.0137741 C24.7606985,29.8606682 26.002243,28.9365188 26.5591667,27.6033058 L28.7825,23.2403581 C28.7907415,23.1602194 28.7907415,23.07945 28.7825,22.9993113 C29.0417178,22.0307073 28.8557556,20.9972896 28.275,20.1790634 C27.6212994,19.35331 26.6231734,18.8733049 25.5683333,18.8774105 L20.0583333,18.8774105 L20.0583333,12.5137741 L25.5441667,12.5137741 C27.4301108,12.5272076 28.9734848,11.0200875 29,9.13911846 L29,3.69146006 C28.9867193,1.81048414 27.4541928,0.292653081 25.5683333,0.292699725 L18.85,0.292699725 C10.6816667,0.292699725 6.76666667,5.33057851 6.76666667,15.6955923 L6.76666667,18.8533058 L3.43166667,18.8533058 C1.5458072,18.8532591 0.0132806999,20.3710902 0,22.2520661 L0,26.6150138 C0.0132806999,28.4959897 1.5458072,30.0138207 3.43166667,30.0137741 L3.43166667,30.0137741 Z M2.41666667,22.2520661 C2.42979201,21.7023705 2.88040129,21.2636182 3.43166667,21.2637741 L7.9025,21.2637741 C8.56984407,21.2637741 9.11083333,20.7241724 9.11083333,20.0585399 L9.11083333,15.6955923 C9.11083333,6.58402204 12.0108333,2.70316804 18.7775,2.70316804 L25.4716667,2.70316804 C26.022932,2.70301217 26.4735413,3.14176443 26.4866667,3.69146006 L26.4866667,9.13911846 C26.4735413,9.68881408 26.022932,10.1275663 25.4716667,10.1274105 L18.85,10.1274105 C18.1826559,10.1274105 17.6416667,10.6670122 17.6416667,11.3326446 L17.6416667,20.1790634 C17.6416667,20.8446958 18.1826559,21.3842975 18.85,21.3842975 L25.5441667,21.3842975 C25.8628595,21.3803722 26.1657329,21.5225353 26.3658333,21.7699725 C26.5278431,21.9739406 26.5978427,22.2357658 26.5591667,22.4931129 L24.4083333,26.6873278 C24.0216667,27.3863636 23.5141667,27.7238292 23.2966667,27.7238292 L18.85,27.7238292 C18.1826559,27.7238292 17.6416667,28.2634309 17.6416667,28.9290634 L17.6416667,46.4290634 C17.635333,46.6975928 17.5222724,46.9526051 17.3273739,47.1379619 C17.1324754,47.3233187 16.8717163,47.423825 16.6025,47.4173554 L10.15,47.4173554 C9.59873462,47.4175112 9.14812534,46.978759 9.135,46.4290634 L9.135,28.8085399 C9.135,28.1429075 8.59401074,27.6033058 7.92666667,27.6033058 L3.43166667,27.6033058 C2.88040129,27.6034617 2.42979201,27.1647094 2.41666667,26.6150138 L2.41666667,22.2520661 Z"/>
							</svg>
						</a>
						<a href="https://twitter.com/intent/tweet?text=Check%20this%20out:%20http://bit.ly/2fJJENt" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="43" height="35" viewBox="0 0 43 35" id="twitter">
							  <path fill="#D00A1D" d="M15.9073835,35 C8.02594455,35 1.58809881,31.215372 1.48291407,31.1519915 C0.866639353,30.7804735 0.59626062,30.0279981 0.832926294,29.3483428 C1.07161475,28.6707103 1.74587593,28.2418802 2.46868391,28.3490877 C6.73743144,28.9201869 9.71024898,27.5750359 11.3028539,26.511726 C7.35572894,23.5207034 -1.47978955,15.080302 3.94059607,2.56601451 C4.16377652,2.0502047 4.65598718,1.69891463 5.2149497,1.65508765 C5.76244977,1.61732903 6.31534394,1.88231367 6.61539017,2.35631928 C6.77721285,2.60916722 10.5780231,8.32757628 20.0776889,9.52506413 C20.0992652,4.34538976 24.3187917,0.138 29.5004888,0.138 C31.8118562,0.138 33.990394,0.96734125 35.7151541,2.49049725 C38.2078977,2.22551261 40.1713463,2.16820041 40.2623715,2.1648291 C40.4680212,2.16685189 40.6635569,2.1944966 40.8408876,2.26192271 C41.1746469,2.13920718 41.5502104,2.12976752 41.9116144,2.2639455 C42.6937573,2.55994616 43.0888744,3.43513717 42.7928737,4.21728013 C42.5022672,4.98796066 41.1058723,8.50558123 39.2058043,10.3051843 C39.6798099,14.6804651 38.5935751,21.1122425 31.5785618,28.3362768 C26.6200451,33.4411082 20.9663651,35 15.9073835,35 Z M5.27254761,30.9174604 C12.8121243,34.29659 22.5491058,34.0080417 29.7311673,26.61522 C36.6615852,19.4775662 37.3573055,13.3958285 36.7215003,9.55280179 C36.6164726,8.91276726 36.9118189,8.27273274 37.4672674,7.93579826 C38.1820196,7.506524 39.0596,6.12706633 39.7799913,4.70179121 C38.8178248,4.75959169 37.4461209,4.86320961 35.9595209,5.03872569 C35.4724461,5.08806755 34.9783226,4.92312474 34.6336344,4.56574863 C33.35568,3.24409143 31.6498611,2.5173562 29.8340803,2.5173562 C26.1517671,2.5173562 23.1553059,5.51593204 23.1553059,9.19965498 C23.1553059,9.68109065 23.2025332,10.1413798 23.2998071,10.5664247 C23.4069495,11.0534995 23.2814801,11.5617207 22.9593482,11.9416531 C22.6351017,12.3215855 22.1437976,12.5281165 21.656018,12.4971016 C12.899951,11.9684387 7.67746661,8.16065621 5.13354084,5.62659881 C1.64366096,17.9613611 13.676733,25.1067686 14.2237228,25.4246712 C14.6346701,25.662217 14.9194432,26.075279 14.9962755,26.5440267 C15.0702883,27.0148891 14.9321311,27.4942101 14.6163431,27.8508813 C14.4866445,28.0003167 9.41514992,29.773434 5.27254761,30.9174604 Z"/>
							</svg>
						</a>
						<a href="https://www.linkedin.com/cws/share?url=http%3A%2F%2Faestheticdimension.com/projects" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="45" height="42" viewBox="0 0 45 42" id="in">
							  <path fill="none" stroke="#D00A1D" stroke-width="2" d="M42.8343799,24.5423288 L42.8343799,39.9240333 L33.818397,39.9240333 L33.818397,25.5653564 C33.818397,21.9553006 32.5184148,19.501775 29.256104,19.501775 C26.7612251,19.501775 25.2895007,21.1629003 24.6325186,22.7615386 C24.3959663,23.3372363 24.3241212,24.1434743 24.3241212,24.9393558 L24.3241212,39.9222057 L15.31702,39.9222057 C15.31702,39.9222057 15.4379343,15.6125297 15.31702,13.0948637 L24.3259679,13.0948637 L24.3259679,16.8973409 C24.3137446,16.9285844 24.2874512,16.9545191 24.27514,16.9892437 L24.3259679,16.9892437 L24.3259679,16.8973409 C25.5295705,15.069816 27.6617945,12.4653819 32.4500872,12.4653819 C38.3930012,12.465469 42.8343799,16.2991897 42.8343799,24.5423288 Z M5.88579559,0.159809448 C2.80402083,0.159809448 0.785676014,2.16078347 0.785676014,4.79985515 C0.785676014,7.36782402 2.74448705,9.43641969 5.77015759,9.43641969 L5.82450305,9.43641969 C8.97460536,9.43641969 10.9263814,7.36782402 10.9263814,4.79985515 C10.8650888,2.16078347 8.9746933,0.159809448 5.88579559,0.159809448 Z M1.32359059,39.9239463 L10.3342972,39.9239463 L10.3342972,13.0932101 L1.32359059,13.0932101 L1.32359059,39.9239463 Z" transform="translate(1 1)"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</section>
		<script>window.twttr = (function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0],
		    t = window.twttr || {};
		  if (d.getElementById(id)) return t;
		  js = d.createElement(s);
		  js.id = id;
		  js.src = "https://platform.twitter.com/widgets.js";
		  fjs.parentNode.insertBefore(js, fjs);

		  t._e = [];
		  t.ready = function(f) {
		    t._e.push(f);
		  };

		  return t;
		}(document, "script", "twitter-wjs"));</script>

{% endblock %}