{% extends "_layout.twig" %}
{% set title = "About" %}

{% block content %}
<body>
	<main>
		<section class="twoColumns" id="hideSidebar">
			<div class="leftColumn leftColumnAbout" id="leftColumn">
				<div class="responsiveTitle" id="responsiveTitle">
					<p id="pageTitle">about</p>
					<div class="burger vHidden" id="burger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<ul id="burgerMenu">
					<li><a href="about" class="onPage">about</a></li>
					<li><a href="projects">projects</a></li>
					<li><a href="blog">blog</a></li>
					<li><a href="contact">contact</a></li>
					<li><a id="homeSVG" href="index">
						<svg id="home" xmlns="http://www.w3.org/2000/svg" width="45" height="48" viewBox="0 0 45 48">
						<g fill="none" fill-rule="evenodd" transform="translate(1 1)">
						<path stroke="#000" d="M38.6022727,46 L26.875,46 C26.5818182,46 26.3863636,45.8064516 26.3863636,45.516129 L26.3863636,32.4516129 L16.6136364,32.4516129 L16.6136364,45.516129 C16.6136364,45.8064516 16.4181818,46 16.125,46 L4.39772727,46 C4.10454545,46 3.90909091,45.8064516 3.90909091,45.516129 L3.90909091,22.1451613 C3.90909091,22 3.95795455,21.9032258 4.05568182,21.8064516 L21.1579545,4.96774194 C21.3534091,4.77419355 21.6465909,4.77419355 21.8420455,4.96774194 L38.9443182,21.8064516 C39.0420455,21.9032258 39.0909091,22 39.0909091,22.1451613 L39.0909091,45.516129 C39.0909091,45.8064516 38.8954545,46 38.6022727,46 Z M27.3636364,45.0322581 L38.1136364,45.0322581 L38.1136364,22.3387097 L21.5,5.93548387 L4.88636364,22.3387097 L4.88636364,45.0322581 L15.6363636,45.0322581 L15.6363636,31.9677419 C15.6363636,31.6774194 15.8318182,31.483871 16.125,31.483871 L26.875,31.483871 C27.1681818,31.483871 27.3636364,31.6774194 27.3636364,31.9677419 L27.3636364,45.0322581 Z"/>
						<path stroke="#19181B" d="M42.3647727,21.9677419 C42.2181818,21.9677419 42.1204545,21.9193548 42.0227273,21.8225806 L21.4511364,1.4516129 L12.5579545,10.2096774 C12.4113636,10.3548387 12.2159091,10.4032258 12.0204545,10.3064516 C11.825,10.2096774 11.7272727,10.0645161 11.7272727,9.87096774 L11.7272727,4.83870968 L10.2613636,4.83870968 L10.2613636,12.483871 C10.2613636,12.6290323 10.2125,12.7258065 10.1147727,12.8225806 L0.928409091,21.8225806 C0.732954545,22.016129 0.439772727,22.016129 0.244318182,21.8225806 C0.0488636364,21.6290323 0.0488636364,21.3387097 0.244318182,21.1451613 L9.28409091,12.2419355 L9.28409091,4.35483871 C9.28409091,4.06451613 9.47954545,3.87096774 9.77272727,3.87096774 L12.2159091,3.87096774 C12.5090909,3.87096774 12.7045455,4.06451613 12.7045455,4.35483871 L12.7045455,8.70967742 L21.1090909,0.435483871 C21.3045455,0.241935484 21.5977273,0.241935484 21.7931818,0.435483871 L42.7068182,21.1451613 C42.9022727,21.3387097 42.9022727,21.6290323 42.7068182,21.8225806 C42.6090909,21.9193548 42.5113636,21.9677419 42.3647727,21.9677419 Z"/>
						</g>
						</svg>
						<svg id="homeHover" class="vHiddenHome" xmlns="http://www.w3.org/2000/svg" width="45" height="48" viewBox="0 0 45 48">
						<g fill="none" fill-rule="evenodd" transform="translate(1 1)">
						<path fill="#000" fill-rule="nonzero" stroke="#000" d="M38.6022727,46 L26.875,46 C26.5818182,46 26.3863636,45.8064516 26.3863636,45.516129 L26.3863636,32.4516129 L16.6136364,32.4516129 L16.6136364,45.516129 C16.6136364,45.8064516 16.4181818,46 16.125,46 L4.39772727,46 C4.10454545,46 3.90909091,45.8064516 3.90909091,45.516129 L3.90909091,22.1451613 C3.90909091,22 3.95795455,21.9032258 4.05568182,21.8064516 L21.1579545,4.96774194 C21.3534091,4.77419355 21.6465909,4.77419355 21.8420455,4.96774194 L38.9443182,21.8064516 C39.0420455,21.9032258 39.0909091,22 39.0909091,22.1451613 L39.0909091,45.516129 C39.0909091,45.8064516 38.8954545,46 38.6022727,46 Z"/>
						<path stroke="#19181B" d="M42.3647727,21.9677419 C42.2181818,21.9677419 42.1204545,21.9193548 42.0227273,21.8225806 L21.4511364,1.4516129 L12.5579545,10.2096774 C12.4113636,10.3548387 12.2159091,10.4032258 12.0204545,10.3064516 C11.825,10.2096774 11.7272727,10.0645161 11.7272727,9.87096774 L11.7272727,4.83870968 L10.2613636,4.83870968 L10.2613636,12.483871 C10.2613636,12.6290323 10.2125,12.7258065 10.1147727,12.8225806 L0.928409091,21.8225806 C0.732954545,22.016129 0.439772727,22.016129 0.244318182,21.8225806 C0.0488636364,21.6290323 0.0488636364,21.3387097 0.244318182,21.1451613 L9.28409091,12.2419355 L9.28409091,4.35483871 C9.28409091,4.06451613 9.47954545,3.87096774 9.77272727,3.87096774 L12.2159091,3.87096774 C12.5090909,3.87096774 12.7045455,4.06451613 12.7045455,4.35483871 L12.7045455,8.70967742 L21.1090909,0.435483871 C21.3045455,0.241935484 21.5977273,0.241935484 21.7931818,0.435483871 L42.7068182,21.1451613 C42.9022727,21.3387097 42.9022727,21.6290323 42.7068182,21.8225806 C42.6090909,21.9193548 42.5113636,21.9677419 42.3647727,21.9677419 Z"/>
						</g>
						</svg>
					</a></li>
				</ul>
			</div>
			<div class="rightColumn rightColumnAbout" id="rightColumn">
				<section class="aboutTop">
					<div class="aboutTopContent">
						<div class="aboutTopSVGs">
							<img src="assets/about/svg1lines.svg" alt="">
							<img src="assets/about/svg2hand.svg" alt="">
							<img src="assets/about/svg3lightbulb.svg" alt="">
							<img src="assets/about/svg4eye.svg" alt="">
							<img src="assets/about/svg5brain.svg" alt="">
							<img src="assets/about/svg6present.svg" alt="">
							<img src="assets/about/svg7camera.svg" alt="">
							<img src="assets/about/svg8map.svg" alt="">
							<img src="assets/about/svg9heart.svg" alt="">
							<img src="assets/about/svg10monitor.svg" alt="">
						</div>
						<img src="assets/about/mainLogo.png" alt="" class="aboutTopLogo">
						<div class="text">
							<h1>{{ entry.topparagraph1 }}</h1>
							<h2>{{ entry.topparagraph2 }}</h2>
							<p>{{ entry.topparagraph3 }}</p>
						</div>
						<img src="assets/about/downArrow.svg" alt="" class="aboutTopArrow">
					</div>
					<div class="aboutTopBlack"></div>
				</section>
				<div class="aboutContainer">
					<section class="aboutSystems">
						<div class="aboutHeader aboutHeaderPara">
							<img src="assets/about/header.svg" alt="">
							<img src="assets/about/header.svg" alt="">
							<img src="assets/about/responsive/header.svg" alt="">
							<img src="assets/about/responsive/header.svg" alt="">
							<div class="aboutHeaderh2">
								<h2>{{ entry.header1 }}</h2>
							</div>
						</div>
						<div class="aboutSystemsContent">
							<div class="aboutSystemsBoxes">
								<div class="aboutSystemsBox aboutSystemsBox1">
									<div class="aboutSystemsSvg">
										<img src="assets/about/page2/Tag1.svg" alt="">
										<img src="assets/about/page2/Tag2.svg" alt="">
									</div>
									<div class="aboutSystemsBoxTop">
										<p>{{ entry.yellowbox1title }}</p>
									</div>
									<p>{{ entry.yellowbox1content }}</p>
									<div class="aboutSystemsBoxBottom"></div>
								</div>
								<div class="aboutSystemsBox aboutSystemsBox2">
									<div class="aboutSystemsSvg">
										<img src="assets/about/page2/Computer.svg" alt="">
									</div>
									<div class="aboutSystemsBoxTop">
										<p>{{ entry.yellowbox2title }}</p>
									</div>
									<p>{{ entry.yellowbox2content }}</p>
									<div class="aboutSystemsBoxBottom"></div>
								</div>
								<div class="aboutSystemsBox aboutSystemsBox3">
									<div class="aboutSystemsSvg">
										<img src="assets/about/page2/Group14.svg" alt="">
										<img src="assets/about/responsive/mobileSignage.svg" alt="">
									</div>
									<div class="aboutSystemsBoxTop">
										<p>{{ entry.yellowbox3title }}</p>
									</div>
									<p>{{ entry.yellowbox3content }}</p>
									<div class="aboutSystemsBoxBottom"></div>
								</div>
							</div>
							<div class="aboutQuote">
								<blockquote>
									<img src="assets/about/page2/“.svg" alt="">
									<img src="assets/about/page2/R“.svg" alt="">
										{{ entry.quote1content }}
								</blockquote>
								<span>
									{{ entry.quote1name }}<br>
									{{ entry.quote1company }}
								</span>
							</div>
						</div>
					</section>
					<section class="aboutProcess">
						<div class="aboutHeader">
							<img src="assets/about/header.svg" alt="">
							<img src="assets/about/header.svg" alt="">
							<img src="assets/about/responsive/header.svg" alt="">
							<img src="assets/about/responsive/header.svg" alt="">
							<div class="aboutHeaderh2">
								<h2>{{ entry.header2 }}</h2>
							</div>
						</div>
						<div class="aboutProcessContent">
							<div class="aboutProcessIcons">
								<div class="aboutProcessIcon aPI1 descSelected" data-desc="strategy">
									<img src="assets/about/process/1.svg" alt="">
									<div class="corner"></div>
								</div>
								<div class="aboutProcessIcon aPI2" data-desc="concept">
									<img src="assets/about/process/2.svg" alt="">
									<div class="corner"></div>
								</div>
								<div class="aboutProcessIcon aPI3" data-desc="design">
									<img src="assets/about/process/3.svg" alt="">
									<div class="corner"></div>
								</div>
								<div class="aboutProcessIcon aPI4" data-desc="web">
									<img src="assets/about/process/4.svg" alt="">
									<div class="corner"></div>
								</div>
								<div class="aboutProcessIcon aPI5" data-desc="deployment">
									<img src="assets/about/process/5.svg" alt="">
									<div class="corner"></div>
								</div>
							</div>
							<div class="aboutProcessDescriptions">
								<div class="learnMore"><p>{{ entry.tapicon }}<p></div>
								<div class="aboutProcessDescription aboutHidden" id="strategy">
									<div class="info">
										<h3>{{ entry.slider1title }}</h3>
										<span>1.</span>
									</div>
									<p>{{ entry.slider1content }}</p>
								</div>
								<div class="aboutProcessDescription aboutHidden" id="concept">
									<div class="info">
										<h3>{{ entry.slider2title }}</h3>
										<span>2.</span>
									</div>
									<p>{{ entry.slider2content }}</p>
								</div>
								<div class="aboutProcessDescription aboutHidden" id="design">
									<div class="info">
										<h3>{{ entry.slider3title }}</h3>
										<span>3.</span>
									</div>
									<p>{{ entry.slider3content }}</p>
								</div>
								<div class="aboutProcessDescription aboutHidden" id="web">
									<div class="info">
										<h3>{{ entry.slider4title }}</h3>
										<span>4.</span>
									</div>
									<p>{{ entry.slider4content }}</p>
								</div>
								<div class="aboutProcessDescription aboutHidden" id="deployment">
									<div class="info">
										<h3>{{ entry.slider5title }}</h3>
										<span>5.</span>
									</div>
									<p>{{ entry.slider5content }}</p>
								</div>
							</div>
							<div class="aboutQuote">
								<blockquote>
									<img src="assets/about/page2/“.svg" alt="">
									<img src="assets/about/page2/R“.svg" alt="">
									{{ entry.quote2content }}
								</blockquote>
								<span>
									{{ entry.quote2name }}<br>
									{{ entry.quote2company }}
								</span>
							</div>
						</div>
					</section>
					<section class="aboutApproach">
						<div class="aboutHeader">
							<img src="assets/about/header.svg" alt="">
							<img src="assets/about/header.svg" alt=""><img src="assets/about/responsive/header.svg" alt="">
							<img src="assets/about/responsive/header.svg" alt="">
							<div class="aboutHeaderh2">
								<h2>{{ entry.header3 }}</h2>
							</div>
						</div>
						<div class="aboutApproachContent">
							<h3>{{ entry.intro }}</h3>
							<div class="aboutQuote">
								<blockquote>
									<img src="assets/about/page2/“.svg" alt="">
									<img src="assets/about/page2/R“.svg" alt="">
									{{ entry.quote3content }}
								</blockquote>
								<span>
									{{ entry.quote3name }}<br>
									{{ entry.quote3company }}
								</span>
							</div>
							<div class="aboutApproachMan">
								<img src="assets/about/BodyDia.svg" alt="" class="aboutApproachBodyDia">
								<img src="assets/about/responsive/person.svg" alt="" class="aboutApproachBodyDia">
								<div class="aboutApproachText">
									<span class="aboutApproachRow">
										<span>{{ entry.man1left }}</span>
										<span>{{ entry.man1right }}</span>
										<img src="assets/about/rightArrow.svg" alt="">
									</span>
									<span class="aboutApproachRow">
										<span>{{ entry.man2left }}</span>
										<span>{{ entry.man2right }}</span><img src="assets/about/rightArrow.svg" alt="">
									</span>
									<span class="aboutApproachRow">
										<span>{{ entry.man3left }}</span>
										<span>{{ entry.man3right }}</span>
										<img src="assets/about/rightArrow.svg" alt="">
									</span>
									<span class="aboutApproachRow">
										<span>{{ entry.man4left }}</span>
										<span>{{ entry.man4right }}</span>
										<img src="assets/about/rightArrow.svg" alt="">
									</span>
								</div>
							</div>
						</div>
					</section>
					<section class="aboutBrand">
						<div class="aboutHeader">
							<img src="assets/about/header.svg" alt="">
							<img src="assets/about/header.svg" alt="">
							<img src="assets/about/responsive/header.svg" alt="">
							<img src="assets/about/responsive/header.svg" alt="">
							<div class="aboutHeaderh2">
								<h2>{{ entry.header4 }}</h2>
							</div>
						</div>
						<div class="aboutBrandContent">
							{{ entry.description }}
							<div class="aboutBrandRows">
								<div class="aboutBrandRow">
									<h3>{{ entry.row1name }}</h3>
									<img src="assets/about/brand1.svg" alt="">
									<div class="info">
										<h3>{{ entry.row1name }}</h3>
										<p>{{ entry.row1content }}</p>
									</div>
								</div>
								<div class="aboutBrandRow">
									<h3>{{ entry.row2name }}</h3>
									<img src="assets/about/brand2.svg" alt="">
									<div class="info">
										<h3>{{ entry.row2name }}</h3>
										<p>{{ entry.row2content }}</p>
									</div>
								</div>
								<div class="aboutBrandRow">
									<h3>{{ entry.row3name }}</h3>
									<img src="assets/about/brand3.png" alt="">
									<div class="info">
										<h3>{{ entry.row3name }}</h3>
										<p>{{ entry.row3content }}</p>
									</div>
								</div>
								<div class="aboutBrandRow">
									<h3>{{ entry.row4name }}</h3>
									<img src="assets/about/brand4.svg" alt="">
									<div class="info">
										<h3>{{ entry.row4name }}</h3>
										<p>{{ entry.row4content }}</p>
									</div>
								</div>
							</div>
						</div>
					</section>
					<img class="aboutFooterImg" src="assets/about/footerLogo.png" alt="">
					<div class="aboutFooter">
						<p>{{ entry.footerleft }}</p>
						<p>{{ entry.footerright }}</p>
					</div>
				</div>
			</div>
		</section>

{% endblock %}